<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <table border="1" width="600">
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">Academic Qualifications</td><td align="center" bgcolor="lightblue">Year Award</td>
            </tr>
            <tr>
                <td rowspan="2" align="center" width="200">Bachelor Of Life Science</td><td align="center">Beijing Normal University</td><td align="center">2018</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">First Class Scholarship</td>
            </tr>
            <tr>
                <td rowspan="2" align="center" width="200">Master Of Education</td><td align="center">The University of Hong Kong</td><td align="center">2024</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">To be worked on 💪🏻</td>
            </tr>
        </table>
    </center>
</body>
</html>